<ion-view view-title="Comics">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar" ng-model="searchText">
      </label>
      <button class="button button-clear" style="color: black">
        Cancel
      </button>
    </div>
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="comic in comics | filter:searchText" type="item-text-wrap" href="#/tab/comics/{{comic.id}}">
        <img ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}">
        <h2>Título: {{comic.title}}</h2>
        <h2>Fecha: {{comic.dates[0].date | date}}</h2>
        <p>Desc: {{comic.description }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
